env/
**/__pycache__
**/.env

# staticfiles
staticfiles/

# environment file
purbeurre_project/settings/production.py

# Bootstrap
static/main/node_modules/

# Firefox driver for selenium
geckodriver.log
geckodriver.exe

# test coverage
.coverage