env/
**/__pycache__
**/.env

# Bootstrap
/purbeurre_project/static/main/node_modules/

# Firefox driver for selenium
/purbeurre_project/geckodriver.log
/purbeurre_project/geckodriver.exe

# test coverage
/purbeurre_project/.coverage