// Styling for the masthead

header.masthead_food {
    padding-top: 10rem;
    padding-bottom: calc(10rem - #{$navbar-height});
    // replace the masthead.jpg image in the /assets/img directory to change the image
    // if the image name change, make sure to update the url path below!
    background-color: $secondary;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    box-shadow: 0 5px 15px rgba(0,0,0,0.7);

    h1 {
        font-size: 2.25rem;
    }
}

header.masthead_substitute {
    padding-top: 10rem;
    padding-bottom: calc(10rem - #{$navbar-height});
    // replace the masthead.jpg image in the /assets/img directory to change the image
    // if the image name change, make sure to update the url path below!
    background-position: center;
    background-attachment: scroll;
    h1 {
      font-size: 2.25rem;
      }
}

//rgb(239, 235, 233)
.page-bg {
  background-color: rgb(231, 237, 236);
  box-shadow: 0 5px 15px rgba(0,0,0,0.8);
}

//-Box 
.box_contrast{
    width: fit-content;
    margin: auto;
    padding: 15px;
    color: $white;
    background-color: rgba($rooibos, 0.8);
    box-shadow: 0 5px 15px rgba(0,0,0,0.8);
}

.box_wrap {
  width: 85%;
  padding: 10px;
  margin: 10px auto;

}

.card-shadow {
  box-shadow: 0 5px 15px rgba(0,0,0,0.7);
}

.box-product {
  width: 100%;
  height : 500px; 
  background-color: rgba($bonbon, 0.7);
}

.box-footer {
  width: 100%;
  background-color: $secondary;

}

.box-img{
  position: relative;
}

.img-nutri {
    width: 40%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(20%, -50%)
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.btn-details {
    background-color: $bonbon;
}


.overlay {
  opacity: 0;
}

.box-img:hover img {
  opacity: 0.5;
}

.box-img:hover .overlay{
  opacity: 1;
}

// Details substitute
.icon-back {
  color: $rooibos;
}

.detail_card {
  margin-bottom: auto;
  margin-top:auto;
  background: rgba($bonbon, .8);
  box-shadow: 0px 6px 4px #1c1a19;
}

.size-symbol {
  font-size: 1.25em;
}