{% extends 'base.html' %}
{% load static %}

{% block title %}Produits{% endblock title %}
{% block header %}
    <!-- Masthead-->
    <header class="masthead_substitute" style="background-image: url({{ object.picture }}) ;" >
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col text-center">
                    <h1 class="text-uppercase font-weight-bold box_contrast">{{ object.product_name }}</h1>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}
{% block content %}
<section class="page-section ">
    <div class="container">
        <div class="row justify-content-start">
            <a href="{{ request.META.HTTP_REFERER }}"><i class="fa fa-arrow-circle-left fa-3x icon-back" aria-hidden="true"></i></a>
        </div> 
        <div class="row mt-5 mb-5 justify-content-around detail_card align-items-center">
            <div col="lg-5 ">

                <img src="https://static.openfoodfacts.org/images/misc/nutriscore-{{ object.nutri_grades }}.svg"/>
            </div>
            <div col="lg-9">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">Repères nutritionnels pour 100g</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Matières grasses / Lipides:</th>
                            <td>{{ object.fat_100g }} g</td>
                        </tr>
                        <tr>
                            <th scope="row">Acides gras saturés:</th>
                            <td>{{ object.saturated_fat_100g }} g</td>
                        </tr>
                        <tr>
                            <th scope="row">Sucres:</th>
                            <td>{{ object.sugars_100g }} g</td>
                        </tr>
                        <tr>
                            <th scope="row">Sel:</th>
                            <td>{{ object.salt_100g }} g</td>
                        </tr>
                    </tbody>
                </table>
    <!--             <img src="{{ object.picture }}"/>
     -->    </div>
        </div>
        <div class="row justify-content-center mt-5 pt-5">
            <a class="btn btn-secondary btn-lg " href="{{ object.url }}" target="_blank">Voir la fiche d'OpenFoodFacts</a>
        </div>
    </div>
</section>

{% endblock content %}